<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.3/examples/cover/cover.css" rel="stylesheet">
    <style>
    </style>
</head>
<body class="d-flex h-100 text-center text-bg-dark" bis_register="W3sibWFzdGVyIjp0cnVlLCJleHRlbnNpb25JZCI6ImVwcGlvY2VtaG1ubGJoanBsY2drb2ZjaWllZ29tY29uIiwiYWRibG9ja2VyU3RhdHVzIjp7IkRJU1BMQVkiOiJkaXNhYmxlZCIsIkZBQ0VCT09LIjoiZGlzYWJsZWQiLCJUV0lUVEVSIjoiZGlzYWJsZWQiLCJSRURESVQiOiJkaXNhYmxlZCJ9LCJ2ZXJzaW9uIjoiMS45LjA0Iiwic2NvcmUiOjEwOTA0fV0=">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" bis_skin_checked="1">
    <header class="mb-auto">
        <div bis_skin_checked="1">
            <h3 class="float-md-start mb-0">Мессенджер</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Мессенджер</a>
            </nav>
        </div>
    </header>

    <main class="px-3">
        <h1>Чат</h1>
        <p class="lead">Чат</p>
        <div>
            <button id="clickMe" type="button" value="clickme" onclick="function doFunction() {
                const socket = new WebSocket('ws://localhost:8080/chat/{{.}}');
                socket.onopen = function() {
                    showMessage('Соединение установлено', 'green');
                };

                socket.onclose = function(event) {
                if (event.wasClean) {
                    showMessage('Соединение закрыто чисто', 'green');
                } else {
                    showMessage('Обрыв соединения', 'red');
                }
                    showMessage('Код: ' + event.code + ' причина: ' + event.reason, '');
                };

                document.forms.publish.onsubmit = function() {
                    const outgoingMessage = this.message.value;
                    if (outgoingMessage === '') {
                        return false;
                    }
                    this.message.value = '';

                    socket.send(outgoingMessage);
                    return false;
                };

                document.forms.closeConnection.onsubmit = function() {
                    socket.close();
                };

                socket.onmessage = function(event) {
                    const incomingMessage = event.data;
                    showMessage(incomingMessage, '');
                };

                socket.onerror = function(error) {
                    showMessage('Ошибка ' + error.message, 'red');
                };
            }

            function showMessage(message, background) {
                const messageElem = document.createElement('div');
                messageElem.style.background = background;
                messageElem.style.textAlign = 'left';
                messageElem.style.overflow = 'auto';
                messageElem.appendChild(document.createTextNode(message));
                document.getElementById('subscribe').appendChild(messageElem);
            }
        doFunction();">Начать общаться</button><br>
        </div>

        <!-- здесь будут появляться входящие сообщения -->
        <div id="subscribe"></div>
        <br>
        <!-- форма для отправки сообщений -->
        <form name="publish">
            <input type="text" name="message">
            <input type="submit" value="Отправить">
        </form>

        <br> <br> <br> <br>
        <!-- форма для отключения от чата -->
        <form name="closeConnection">
            <input type="submit" value="Отключиться">
        </form>
        <br>
    </main>

    <footer class="mt-auto text-white-50">
        <p>Prod by Бравлики</p>
    </footer>
</div>

</body>
</html>